body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9ecef;
    color: #212529;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #343a40;
    margin-bottom: 0.5em;
}

p {
    margin: 0.5em 0;
}

.content {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.book {
    border: 1px solid #dee2e6;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.book:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgb(120, 185, 234);
}

.book h2 {
    font-size: 25px;
    color: #495057;
    margin-bottom: 10px;
    padding-left: 20px;
}

.book p {
    font-size: 1em;
    color: #6c757d;
    margin-bottom: 8px;
}

.book ul {
    padding-left: 20px;
    margin: 10px 0;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5px;
    background-color: #ffffff;
}

.book ul li {
    font-size: 0.95em;
    margin-bottom: 5px;
    padding: 10px;
    border-bottom: 1px solid #f1f3f5;
}

.book ul li:last-child {
    border-bottom: none;
}

.book ul::-webkit-scrollbar {
    width: 8px;
}

.book ul::-webkit-scrollbar-thumb {
    background-color: #adb5bd;
    border-radius: 4px;
}

.book ul::-webkit-scrollbar-thumb:hover {
    background-color: #868e96;
}

.book input{
    width: 95%;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.book button {
    color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.send-btn{
    height: 40px;
}

.like-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.like-btn:hover {
    transform: scale(1.1);
}

.like-img, .dislike-img {
    width: 35px;
    height: 35px;
    padding-left: 20px;
}

.input-content{
display: flex;
align-items: center;
padding: 5px;
}

.book-img{
    width: 180px;
    height:180px;
}

.img-title-like{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


